.header-box{
    height: 50px;
    background: black;
    color: white;
    font-size: 16px;
    line-height: 50px;
    display: flex;

}
.location-box{
    width:7rem;
    overflow: hidden;
    margin-left: 3px;
}
.search-box{
    flex: 1;
    height: 30px;
    background: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 3px;
}
.search-box .icon-sousuo{
    color: black;
    float: left;
    margin:-8px 0 0 5px;
}
.search-box input{
    width: 170px;
    border: 0;
    float: left;
    margin-top: -39px;
    margin-left: 25px;
}
.cate-box{
    display: flex;
    flex-wrap:wrap;
    
    justify-content:center;
}
.cate-list {
    width: 20%;
    text-align: center;
    color: #333;
    font-size: 11px;
}
.cate-list img{
    width:44px;
    height: 44px;
    margin-top: 14px;
}
/* 商家 */
.store-title{
    text-align: center;
    height: 1.84rem;
    line-height: 1.84rem;
    margin: 1.2rem 0 0 0.4rem;
    font-size: 17px;
}
.store-title::before,.store-title::after{
    content :"";
    display: inline-block;
    width: 33px;
    height: 1px;
    vertical-align: middle;
    background: black;
    
}
.store-list-box{
    padding: 0 0.8rem;
}
.store-list{
    display: flex; 
}
.img-box{
    width: 4.56rem;
    margin-right:0.8rem;
}
.store-list img{
    display: block;
    width: 4.56rem;
    height: 3.68rem;
}
.info-box{
    margin-top: 0.5rem;
    flex: 1;
}
.info-box .title{
   
    font-size: 16px;
    color: #333;
}


